{{searchBoxGroup.value | json}}
<hr>
<div class="content-head example-form" [ngClass]="{'modal-popup': isModalPopup}">
    <form class="content-head-form" [formGroup]='searchBoxGroup'>
        <div class="row" *ngFor='let field_row of searchBoxConfig.fields;'>
            <ng-container *ngFor="let field of field_row">
                <div [ngClass]="(isModalPopup) ? 'col-sm-6' : 'col-lg-3 col-sm-6'"
                    *ngIf="field.fieldType !== 'primary'">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <label for="{{field.name}}">{{ field.label }}</label>
                            </div>
                            <div class="col-log-8">
                                <ng-select #select [formControlName]='field.name' placeholder="Search"
                                    [items]="searchBoxObj[field.name].filteredRecords" [virtualScroll]="true"
                                    [clearable]="false" (open)="onOpen(field.name)"
                                    (change)="onSelection(select, field)" (search)="onSearch(select, field.name)"
                                    (blur)="onBlur(select, field)">
                                </ng-select>
                            </div>
                        </div>
                        <div class="row"
                            *ngIf="(searchBoxGroup.get(field.name).dirty || searchBoxGroup.get(field.name).touched)">
                            <div class="col-lg-8 offset-4 error-wrapper1">
                                <p class="error-msg" *ngIf="searchBoxObj[field.name].selectFromList">
                                    Please select options from the list
                                </p>
                                <p class="error-msg" *ngIf="searchBoxObj[field.name].filteredRecords.length === 0">
                                    No option available
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>

    </form>
</div>